
@font-face {
    font-family: 'Albert Sans-Bold';
    src: url('https://cdn.shopify.com/s/files/1/0595/8798/5489/files/AlbertSans-Bold.ttf?v=1745234861') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'DM Sans-Bold';
    src: url('https://cdn.shopify.com/s/files/1/0595/8798/5489/files/DMSans_18pt-Bold.ttf?v=1745235869') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
  font-family: 'DM Sans-Medium';
  src: url('https://cdn.shopify.com/s/files/1/0595/8798/5489/files/DMSans_18pt-Medium.ttf?v=1745236733') format('truetype');
  font-weight: 500;
  font-style:  normal;
} 

.pr-info .grid{
    position: relative;
    column-gap: 30.15px;
    flex-wrap: nowrap;
}
/* .featured_collection .card__inner.color-scheme-2.gradient.ratio{
    max-height: 429px;
    height: 100%;
} */
.card-wrapper .card__inner{
    border-radius: 10px;
}
.featured_collection .collection .title {
    text-align: center;
    font-family: 'Albert Sans-Bold';
    font-weight: 700;
    font-size: 44px;
    line-height: 57px;
    letter-spacing: 0;
    color: #663700;
}
body{
  padding: 0px !important;
}
.featured_collection .page-width{
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 30px;
}

  .card__heading{
    font-family: 'DM Sans-Bold';
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0;
    color: #4A4A4A;
  }
  .card-information{
    color: #663700;
  }
  .custom-card-list .slick-prev{
    width: 20px;
    height: 20px;
    background-color: black;
  }
  .custom-card-list .slick-next{
    width: 20px;
    height: 20px;
    background-color: black;
  }

  .slick-track .grid__item{
    max-width: 407.21px !important;
    width: 100%;
  }
  
  .product-grid .slick-dots{ 
    display: none !important;
  }

  .product-grid .slick-prev {
    position: absolute;
    width: 60px;
    height: 40px;
    border-radius: 25px;
    background: #663700;
    left: -1% !important;
    z-index: 2;
    top: 40% !important;
  }
  .product-grid .slick-next{
    position: absolute;
    width: 60px !important;
    height: 40px !important;
    border-radius: 25px !important;
    background: #663700 !important;
    top: 40% !important;
    right: -0.7% !important;
  }
  .slick-prev,
  .slick-next {
    font-size: 0; /* Hide visible text */
  }
  .product-grid .slick-next , .product-grid .slick-prev{
    border: none;
  }
  .pr-info .product-grid{
    margin: 0 -15px;
}
.pr-info .product-grid .grid__item{
    margin: 0 15px;
}

  .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
    color: #663700 !important;
    outline: none;
    background: #663700 !important;
  }
  .slick-prev:before, .slick-next:before{
    color: #FFFFFF !important;
  }

  .card-information .price-item{
    font-family: 'DM Sans-Medium';
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0;
    font-weight: 500;
    color: #663700;
  }
  .slick-prev::before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2221%22%20viewBox%3D%220%200%2012%2021%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M8.62951%2010.6216C6.30165%2013.0207%204.0285%2015.3606%201.75795%2017.7032C1.55271%2017.9028%201.36035%2018.1161%201.18216%2018.3416C0.976377%2018.6124%200.872888%2018.9511%200.890901%2019.2948C0.908913%2019.6384%201.04722%2019.9636%201.28011%2020.21C1.513%2020.4563%201.82465%2020.6071%202.15715%2020.6342C2.48966%2020.6614%202.82041%2020.5631%203.08797%2020.3576C3.24315%2020.2359%203.38822%2020.101%203.52174%2019.9544C6.11664%2017.2781%208.70984%2014.6012%2011.3013%2011.924C12.2366%2010.959%2012.2327%2010.2722%2011.2908%209.29913C8.66815%206.58871%206.04372%203.88053%203.41755%201.17459C2.86913%200.610108%202.2751%200.491836%201.70974%200.81843C1.16914%201.13024%200.849977%201.6329%200.988059%202.26189C1.0972%202.66569%201.30801%203.03248%201.59903%203.32501C3.74582%205.57488%205.91737%207.80055%208.07979%2010.0343C8.24653%2010.2023%208.40676%2010.381%208.62951%2010.6216Z%22%20fill%3D%22white%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(180deg);
  }
  .slick-next::before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2221%22%20viewBox%3D%220%200%2012%2021%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M8.62951%2010.6216C6.30165%2013.0207%204.0285%2015.3606%201.75795%2017.7032C1.55271%2017.9028%201.36035%2018.1161%201.18216%2018.3416C0.976377%2018.6124%200.872888%2018.9511%200.890901%2019.2948C0.908913%2019.6384%201.04722%2019.9636%201.28011%2020.21C1.513%2020.4563%201.82465%2020.6071%202.15715%2020.6342C2.48966%2020.6614%202.82041%2020.5631%203.08797%2020.3576C3.24315%2020.2359%203.38822%2020.101%203.52174%2019.9544C6.11664%2017.2781%208.70984%2014.6012%2011.3013%2011.924C12.2366%2010.959%2012.2327%2010.2722%2011.2908%209.29913C8.66815%206.58871%206.04372%203.88053%203.41755%201.17459C2.86913%200.610108%202.2751%200.491836%201.70974%200.81843C1.16914%201.13024%200.849977%201.6329%200.988059%202.26189C1.0972%202.66569%201.30801%203.03248%201.59903%203.32501C3.74582%205.57488%205.91737%207.80055%208.07979%2010.0343C8.24653%2010.2023%208.40676%2010.381%208.62951%2010.6216Z%22%20fill%3D%22white%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .sp-btn{
    background-color: #663700;
    border-radius: 10px;
    padding: 18px 32px 18px 32px;
    font-family:'DM Sans-Bold';
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0;
    color: #FFFFFF;

  }
  .button, .shopify-challenge__button, .customer button, button.shopify-payment-button__button--unbranded{
    --border-opacity:0px !important;
  }
  .collection__view-all a:not(.link){
    margin-top: 20px !important;
  }
  .view-all-svg{
    margin-left: 6.1px;
  }

  /*Responsive*/
  @media screen and (max-width:1440px){
    .featured_collection .collection{
      padding-top: 0px;
    }
    .collection__view-all a:not(.link){
      margin-top: 0px !important;
    }
    .product-grid .slick-prev{
      top: 32% !important;
    }
    .product-grid .slick-next{
      top: 32% !important;
    }
  }
  
  @media screen and (max-width:1024px){
    .card__heading{
      font-size: 20px;
      line-height: 30px;
    }
    .product-grid .slick-prev{
      top: 25% !important;
    }
    .product-grid .slick-next{
      top: 25% !important;
    }
  }
  @media screen and (max-width:989px){
    .product-grid .slick-prev{
      top: 30% !important;
    }
    .product-grid .slick-next{
      top: 30% !important;
    }
  }
  @media screen and (max-width:749px){
    .product-grid .slick-prev{
      top: 25% !important;
    }
    .product-grid .slick-next{
      top: 25% !important;
    }
    .card-information .price-item{
      font-size: 16px;
    }
    .featured_collection .collection .title{
      font-size: 40px;
    }
  }
  @media screen and (max-width:425px){
    .product-grid .slick-prev, .product-grid .slick-next{
      display: none !important;
    }
    .sp-btn{
      max-width: 88%;
      width: 100%;
      padding: 16px 32px;
      font-size: 16px;
    }
    .featured_collection .collection{
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
  }
  @media screen and (max-width:375px){
    .card__heading{
      font-size: 18px;
      line-height: 24px;
    }
  }
  @media screen and (max-width:320px){
    /* .slick-list{
      max-height: 400px !important;
      height: 100%;
    } */
    .featured_collection .collection .title{
      font-size: 30px;
    }
  }