.image-with-text .grid {
  margin-bottom: 0;
}

.image-with-text .grid__item {
  position: relative;
}

@media screen and (min-width: 750px) {
  .image-with-text__grid--reverse {
    flex-direction: row-reverse;
  }
}

.image-with-text__media {
  min-height: 100%;
  overflow: visible;
}

.image-with-text__media--small {
  height: 19.4rem;
}

.image-with-text__media--medium {
  height: 29.6rem;
}

.image-with-text__media--large {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .image-with-text__media--small {
    height: 31.4rem;
  }

  .image-with-text__media--medium {
    height: 46rem;
  }

  .image-with-text__media--large {
    height: 69.5rem;
  }
}

.image-with-text__media--placeholder {
  position: relative;
  overflow: hidden;
}

.image-with-text__media--placeholder:after {
  content: '';
  position: absolute;
  background: rgba(var(--color-foreground), 0.04);
}

.image-with-text__media--placeholder.image-with-text__media--adapt {
  height: 20rem;
}

@media screen and (min-width: 750px) {
  .image-with-text__media--placeholder.image-with-text__media--adapt {
    height: 30rem;
  }
}

.image-with-text__media--placeholder > svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.image-with-text__media--placeholder:is(.animate--ambient, .animate--zoom-in) > .svg-wrapper {
  top: 0;
  left: 0;
  transform: translate(0);
}

.image-with-text__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-self: center;
  padding: 4rem calc(4rem / var(--font-body-scale)) 5rem;
  position: relative;
  z-index: 1;
}

.image-with-text .grid__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.image-with-text:not(.image-with-text--overlap) .image-with-text__media-item:after {
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.image-with-text:not(.image-with-text--overlap) .image-with-text__text-item:after {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.image-with-text .image-with-text__media-item > * {
  border-radius: var(--media-radius);
  overflow: hidden;
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.image-with-text .global-media-settings {
  overflow: hidden !important;
}

.image-with-text .image-with-text__text-item > * {
  border-radius: var(--text-boxes-radius);
  overflow: hidden;
  box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.image-with-text:not(.image-with-text--overlap) .image-with-text__media-item > *,
.image-with-text:not(.image-with-text--overlap) .image-with-text__text-item > * {
  box-shadow: none;
}

@media screen and (max-width: 749px) {
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__media-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid__item .image-with-text__media,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__media img,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__media .placeholder-svg {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__text-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid__item .image-with-text__content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .image-with-text.collapse-borders:not(.image-with-text--overlap) .image-with-text__content {
    border-top: 0;
  }
}

.image-with-text__content--mobile-right > * {
  align-self: flex-end;
  text-align: right;
}

.image-with-text__content--mobile-center > * {
  align-self: center;
  text-align: center;
}

.image-with-text--overlap .image-with-text__content {
  width: 90%;
  margin: -3rem auto 0;
}

@media screen and (min-width: 750px) {
  .image-with-text__grid--reverse .image-with-text__content {
    margin-left: auto;
  }

  .image-with-text__content--bottom {
    justify-content: flex-end;
    align-self: flex-end;
  }

  .image-with-text__content--top {
    justify-content: flex-start;
    align-self: flex-start;
  }

  .image-with-text__content--desktop-right > * {
    align-self: flex-end;
    text-align: right;
  }

  .image-with-text__content--desktop-left > * {
    align-self: flex-start;
    text-align: left;
  }

  .image-with-text__content--desktop-center > * {
    align-self: center;
    text-align: center;
  }

  .image-with-text--overlap .image-with-text__text-item {
    display: flex;
    padding: 3rem 0;
  }

  .image-with-text--overlap .image-with-text__content {
    height: auto;
    max-width: 639px;
    width: 100%;
    /* min-width: calc(100% + 4rem); */
    margin-top: 0;
    margin-left: -4rem;
  }

  .image-with-text--overlap .image-with-text__grid--reverse .image-with-text__content {
    margin-left: 0;
    margin-right: -4rem;
  }

  .image-with-text--overlap .image-with-text__grid--reverse .image-with-text__text-item {
    /* justify-content: flex-end; */
  }

  .image-with-text--overlap .image-with-text__media-item--top {
    align-self: flex-start;
  }

  .image-with-text--overlap .image-with-text__media-item--middle {
    align-self: center;
  }

  .image-with-text--overlap .image-with-text__media-item--bottom {
    align-self: flex-end;
  }

  .image-with-text__media-item--small,
  .image-with-text__media-item--large + .image-with-text__text-item {
    flex-grow: 0;
  }

  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__media-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__media,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__media
    img,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__media
    .placeholder-svg,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .image-with-text__grid--reverse
    .image-with-text__text-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .image-with-text__grid--reverse
    .image-with-text__content,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .image-with-text__grid--reverse
    .image-with-text__content:after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__text-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__content,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__content:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .image-with-text__grid--reverse
    .image-with-text__media-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .image-with-text__grid--reverse
    .image-with-text__media,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .image-with-text__grid--reverse
    .image-with-text__media
    img,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .image-with-text__grid--reverse
    .image-with-text__media
    .placeholder-svg {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .image-with-text.collapse-borders:not(.image-with-text--overlap)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__content {
    border-left: 0;
  }

  .image-with-text.collapse-borders:not(.image-with-text--overlap)
    .image-with-text__grid--reverse
    .image-with-text__content {
    border-right: 0;
  }
}

.image-with-text:not(.collapse-corners, .image-with-text--overlap) .image-with-text__media-item {
  z-index: 2;
}

/* Needed for gradient continuity with or without animation so that transparent PNG images come up as we would expect */
.image-with-text.image-with-text--overlap .backround-transparent,
.image-with-text:not(.image-with-text--overlap) .background-transparent {
  background: transparent;
}

/* Needed for gradient continuity with or without animation, the transform scopes the gradient to its container which happens already when animation are turned on */
.image-with-text .gradient {
  transform: perspective(0);
}

.image-with-text__content {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
  word-break: break-word;
}

@media screen and (min-width: 990px) {
  .image-with-text__content {
    padding: 6rem 7rem 7rem;
  }
}

.image-with-text__content > * + * {
  margin-top: 2rem;
}

.image-with-text__content > .image-with-text__text:empty ~ a {
  margin-top: 2rem;
}

.image-with-text__content > :first-child:is(.image-with-text__heading),
.image-with-text__text--caption + .image-with-text__heading,
.image-with-text__text--caption:first-child {
  margin-top: 0;
}

.image-with-text__content :last-child:is(.image-with-text__heading),
.image-with-text__text--caption {
  margin-bottom: 0;
}

.image-with-text__content .button + .image-with-text__text {
  margin-top: 2rem;
}

.image-with-text__content .image-with-text__text + .button {
  margin-top: 3rem;
}

.image-with-text__heading {
  margin-bottom: 0;
}

.image-with-text__text p {
  margin-top: 0;
  margin-bottom: 1rem;
}

@media screen and (max-width: 749px) {
  .collapse-padding .image-with-text__grid .image-with-text__content {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 750px) {
  .collapse-padding
    .image-with-text__grid:not(.image-with-text__grid--reverse)
    .image-with-text__content:not(.image-with-text__content--desktop-center) {
    padding-right: 0;
  }

  .collapse-padding
    .image-with-text__grid--reverse
    .image-with-text__content:not(.image-with-text__content--desktop-center) {
    padding-left: 0;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .image-with-text .grid {
    margin-left: 0;
  }
}

/*
  Multirow
  note: consider removing from this stylesheet if multirow-specific styles increase signficantly
*/
.multirow__inner {
  display: flex;
  flex-direction: column;
  row-gap: var(--grid-mobile-vertical-spacing);
}

@media screen and (min-width: 750px) {
  .multirow__inner {
    row-gap: var(--grid-desktop-vertical-spacing);
  }
}


/* css */
@font-face {
  font-family: 'Albert Sans-Bold';
  src: url('https://cdn.shopify.com/s/files/1/0595/8798/5489/files/AlbertSans-Bold.ttf?v=1745234861') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'DM Sans-Medium';
  src: url('https://cdn.shopify.com/s/files/1/0595/8798/5489/files/DMSans_18pt-Medium.ttf?v=1745236733') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'DM Sans-Bold';
  src: url('https://cdn.shopify.com/s/files/1/0595/8798/5489/files/DMSans_18pt-Bold.ttf?v=1745235869') format('truetype');
  font-weight: 700;
  font-style: normal;
}
.img-w-txt .page-width{
  max-width: 1528px !important;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}
.img-w-txt{
  position: relative;
}
.svg_leaf-left{
  max-width: 215px;
  width: 100%;
}
.svg_leaf-left img{
  position: absolute;
  left: 0;
  z-index: 5;
  top: 3%;
}
.img-text-wrapper .image-with-text__text-item.grid__item{
  max-width: 44.748%;
  width: 100%;
}

.img-text-wrapper .grid__item{
  max-width: 48.95%;
  width: 100%;
}
.image-with-text .img-text-wrapper{
  column-gap: 90px;
}
.image-with-text__media-item .image-with-text__media {
  border: none;
}
.image-with-text__text-item .image-with-text__content{
  padding: 0px;
}
.image-with-text__content .inline-richtext{
  font-family: 'Albert Sans-Bold';
  font-weight: 700;
  font-size: 44px;
  line-height: 57px;
  letter-spacing: 0;
  color: #663700;
}
.image-with-text__content .image-with-text__text p{
  font-family: 'DM Sans-Medium';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
  color: #4A4A4A;
  margin: 0px;
}
.image-with-text__content .image-with-text__text{
  margin-top: 30px !important;
}
.image-with-text__content .button--primary{
  border-radius: 10px;
  padding: 18px 32px;
  background-color: #663700;
  font-family: 'DM Sans-Bold';
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0;
  color: #FFFFFF;
  margin-top: 30px !important;
}
/* Counter */
.counter-block .counter-value{
  font-family: 'Albert Sans-Bold';
  font-weight: 700;
  font-size: 44px;
  line-height: 57px;
  letter-spacing: 0;
  color: #B46100;
}
.counter-block .counter-label{
  font-family: 'DM Sans-Medium';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
  color: #4A4A4A;
  margin-top: 10px;
}

.button svg{
  margin-left: 10px;
}
.mobile-img{
  display: none;
}
.image-with-text .image-with-text__grid{
  flex-wrap: nowrap;
}
/*responsive*/
@media screen and (max-width:1366px){
  .image-with-text .img-text-wrapper{
    column-gap: 80px;
  }
  .svg_leaf-left img{
    max-width: 160px;
    width: 100%;
  }
}
@media screen and (max-width:1199px){
  .image-with-text .img-text-wrapper{
      column-gap: 50px;
  }
  .counter-blocks{
    gap: 25px !important;
  }
  .image-with-text__content .inline-richtext{
    font-size: 36px;
    line-height: 50px;
  }
}
@media screen and (max-width:1024px){
  .image-with-text__content .inline-richtext{
    font-size: 30px;
    line-height: 42px;
  }
  .counter-block .counter-value{
    font-size: 36px;
    line-height: 36px;
  }
  .image-with-text__content .image-with-text__text ,
  .image-with-text__content .button--primary{
    margin-top: 20px !important;
  }
  .counter-block .counter-label{
    font-size: 14px;
    line-height: 24px;
  }
  .image-with-text__content .image-with-text__text p{
    font-size: 14px;
    line-height: 24px;
  }
}
@media screen and (max-width:989px){
  .image-with-text__grid {
    display: flex;
    flex-direction: column;
  }

  .image-with-text__text-item {
    order: 1 !important;
    display: flex;
  }

  .image-with-text__heading {
    order: 1 !important;
    margin-bottom: 12px;
  }

  .image-with-text__media-item {
    order: 2 !important;
  }

  .counter-blocks {
    order: 3 !important;
    margin: 16px 0;
    justify-content: space-between;
  }

  .image-with-text__text {
    order: 4 !important;
    margin-bottom: 16px;
  }

  .button {
    order: 5 !important;
    align-self: flex-start;
  }
  .mobile-img{
    display: block !important;
  }
  .image-with-text__media-item{
    display: none;
  }
  .counter-blocks{
    margin-top: 30px !important;
  }
  .img-text-wrapper .image-with-text__text-item.grid__item,
  .image-with-text--overlap .image-with-text__content,
  .img-text-wrapper .grid__item{
    max-width: 100%;
    width: 100%;
  }
  h2.image-with-text__heading.inline-richtext.h1,
  .counter-blocks{
    margin: 0 auto;
    margin-top: 29px;
  }
  .image-with-text__content a.button.button--primary{
    max-width: 100%;
    width: 100%;
  } 
  .img-w-txt{
    padding-top: 0px !important;
  }
}
@media screen and (max-width:768px){
   .svg_leaf-left img{
    display: none;
   }
}
@media screen and (max-width:425px){
  .img-w-txt .page-width{
    padding: 0 30px;
  }
  .image-with-text__content .inline-richtext{
    line-height: 39px;
  }
  .image-with-text__media-item{
    margin-top: 30px;
  }
  .counter-block .counter-value{
    font-size: 28px;
  }
  .counter-block .counter-label, .image-with-text__content .image-with-text__text p{
    font-size: 16px;
  }
  .image-with-text__content .image-with-text__text, .image-with-text__content .button--primary{
    margin-top: 30px !important;
  }
  .image-with-text__content .button{
    margin-top: 0px !important;
  }
  .section-template--17680473260113__image_with_text_JqAqBB-padding{
    padding-top: 50px !important;
  }
}
@media screen and (max-width:375px){
  .image-with-text__content .inline-richtext{
    font-size: 26px;
  }
}
@media screen and (max-width:320px){
  .counter-blocks{
    gap: 20px !important;
  }
  .counter-block .counter-label{
    font-size: 14px;
  }
  .image-with-text__content .inline-richtext{
    font-size: 22px;
    line-height: 34px;
  }
}
