.banner {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: auto;
  isolation: isolate;
}

.banner__box {
  text-align: left;
}

/* Needed for gradient continuity with or without animation, the transform scopes the gradient to its container which happens already when animation are turned on */
.banner__box.gradient {
  transform: perspective(0);
}

@media only screen and (max-width: 749px) {
  .banner--content-align-mobile-right .banner__box {
    text-align: right;
  }

  .banner--content-align-mobile-left .banner__box {
    text-align: left;
  }
}

@media only screen and (min-width: 750px) {
  .banner--content-align-right .banner__box {
    text-align: right;
  }

  .banner--content-align-left .banner__box {
    text-align: left;
  }

  .banner--content-align-left.banner--desktop-transparent .banner__box,
  .banner--content-align-right.banner--desktop-transparent .banner__box,
  .banner--medium.banner--desktop-transparent .banner__box {
    max-width: 68rem;
  }
}

.banner__media.animate--zoom-in {
  clip-path: inset(0px);
}

.banner__media.animate--zoom-in > img:not(.zoom):not(.deferred-media__poster-button),
.banner__media.animate--zoom-in > svg:not(.zoom):not(.deferred-media__poster-button) {
  position: fixed;
  height: 100vh;
}

@media screen and (max-width: 749px) {
  .banner--small.banner--mobile-bottom:not(.banner--adapt) .banner__media,
  .banner--small.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 28rem;
  }

  .banner--medium.banner--mobile-bottom:not(.banner--adapt) .banner__media,
  .banner--medium.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 34rem;
  }

  .banner--large.banner--mobile-bottom:not(.banner--adapt) .banner__media,
  .banner--large.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 39rem;
  }

  .banner--small:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 28rem;
  }

  .banner--medium:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 34rem;
  }

  .banner--large:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 39rem;
  }
}

@media screen and (min-width: 750px) {
  .banner {
    flex-direction: row;
  }

  .banner--small:not(.banner--adapt) {
    min-height: 42rem;
  }

  .banner--medium:not(.banner--adapt) {
    min-height: 56rem;
  }

  .banner--large:not(.banner--adapt) {
    min-height: 72rem;
  }

  .banner__content.banner__content--top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .banner__content.banner__content--top-center {
    align-items: flex-start;
    justify-content: center;
  }

  .banner__content.banner__content--top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }

  .banner__content.banner__content--middle-left {
    align-items: center;
    justify-content: flex-start;
  }

  .banner__content.banner__content--middle-center {
    align-items: center;
    justify-content: center;
  }

  .banner__content.banner__content--middle-right {
    align-items: center;
    justify-content: flex-end;
  }

  .banner__content.banner__content--bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
  }

  .banner__content.banner__content--bottom-center {
    align-items: flex-end;
    justify-content: flex-start;
  }

  .banner__content.banner__content--bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 749px) {
  .banner:not(.banner--stacked) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .banner--stacked {
    height: auto;
  }

  .banner--stacked .banner__media {
    flex-direction: column;
  }
}

.banner__media {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.banner__media-half {
  width: 50%;
}

.banner__media-half + .banner__media-half {
  right: 0;
  left: auto;
}

.banner__media-half.animate--fixed:first-child > img,
.banner__media-half.animate--zoom-in:first-child > img {
  width: 50%;
}

.banner__media-half.animate--fixed:nth-child(2) > img,
.banner__media-half.animate--zoom-in:nth-child(2) > img {
  left: 50%;
  width: 50%;
}

@media screen and (max-width: 749px) {
  .banner--stacked .animate--fixed:first-child > img,
  .banner--stacked .animate--zoom-in:first-child > img {
    width: 100%;
  }

  .banner--stacked .banner__media-half.animate--fixed:nth-child(2) > img,
  .banner--stacked .banner__media-half.animate--zoom-in:nth-child(2) > img {
    left: 0;
    width: 100%;
  }

  .banner--stacked .banner__media-half {
    width: 100%;
  }

  .banner--stacked .banner__media-half + .banner__media-half {
    order: 1;
  }
}

@media screen and (min-width: 750px) {
  .banner__media {
    height: 100%;
  }
}

.banner--adapt,
.banner--adapt_image.banner--mobile-bottom .banner__media:not(.placeholder) {
  height: auto;
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom .banner__media,
  .banner--stacked:not(.banner--mobile-bottom) .banner__media {
    position: relative;
  }

  .banner--stacked.banner--adapt .banner__content {
    height: auto;
  }

  .banner:not(.banner--mobile-bottom):not(.email-signup-banner) .banner__box {
    background: transparent;
  }

  .banner:not(.banner--mobile-bottom) .banner__box {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .banner:not(.banner--mobile-bottom) .button--secondary {
    --alpha-button-background: 0;
  }

  .banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    position: absolute;
    height: auto;
  }

  .banner--stacked.banner--adapt:not(.banner--mobile-bottom) .banner__content {
    max-height: 100%;
    overflow: hidden;
    position: absolute;
  }

  .banner--stacked:not(.banner--adapt) .banner__media {
    position: relative;
  }

  .banner::before {
    display: none !important;
  }

  .banner--stacked .banner__media-image-half {
    width: 100%;
  }
}

.banner__content {
  padding: 0;
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

@media screen and (min-width: 750px) {
  .banner__content {
    padding: 5rem;
  }

  .banner__content--top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .banner__content--top-center {
    align-items: flex-start;
    justify-content: center;
  }

  .banner__content--top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }

  .banner__content--middle-left {
    align-items: center;
    justify-content: flex-start;
  }

  .banner__content--middle-center {
    align-items: center;
    justify-content: center;
  }

  .banner__content--middle-right {
    align-items: center;
    justify-content: flex-end;
  }

  .banner__content--bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
  }

  .banner__content--bottom-center {
    align-items: flex-end;
    justify-content: center;
  }

  .banner__content--bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom:not(.banner--stacked) .banner__content {
    order: 2;
  }

  .banner:not(.banner--mobile-bottom) .field__input,
  .banner--mobile-bottom:not(.banner--stacked) .banner__box.color-scheme-1 {
    background: transparent;
  }
}

.banner__box {
  padding: 4rem 1.5rem;
  position: relative;
  height: fit-content;
  align-items: center;
  text-align: left;
  width: 100%;
  word-wrap: break-word;
  z-index: 1;
}

.banner--mobile-bottom .banner__box {
  padding: 4rem 3.5rem;
}

@media screen and (min-width: 750px) {
  .banner__box {
    padding: 4rem 3.5rem;
  }

  .banner--desktop-transparent .banner__box {
    padding: 4rem 0;
    background: transparent;
    max-width: 89rem;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .banner--desktop-transparent .button--secondary {
    --alpha-button-background: 0;
  }

  .banner--desktop-transparent .content-container:after {
    display: none;
  }
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom::after,
  .banner--mobile-bottom .banner__media::after {
    display: none;
  }
}

.banner::after,
.banner__media::after {
  content: '';
  position: absolute;
  top: 0;
  background: #000000;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.banner__box > * + .banner__text {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .banner__box > * + .banner__text {
    margin-top: 2rem;
  }
}

.banner__box > * + * {
  margin-top: 1rem;
}

.banner__box > *:first-child {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .banner--stacked .banner__box {
    width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .banner__box {
    width: auto;
    max-width: 71rem;
    min-width: 45rem;
  }
}

@media screen and (min-width: 1400px) {
  .banner__box {
    max-width: 90rem;
  }
}

.banner__heading {
  margin-bottom: 0;
}

.banner__box .banner__heading + * {
  margin-top: 1rem;
}

.banner__buttons {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 45rem;
  word-break: break-word;
}

@media screen and (max-width: 749px) {
  .banner--content-align-mobile-right .banner__buttons--multiple {
    justify-content: flex-end;
  }

  .banner--content-align-mobile-center .banner__buttons--multiple > * {
    flex-grow: 1;
    min-width: 22rem;
  }
}

@media screen and (min-width: 750px) {
  .banner--content-align-center .banner__buttons--multiple > * {
    flex-grow: 1;
    min-width: 22rem;
  }

  .banner--content-align-right .banner__buttons--multiple {
    justify-content: flex-end;
  }
}

.banner__box > * + .banner__buttons {
  margin-top: 2rem;
}

@media screen and (max-width: 749px) {
  .banner:not(.slideshow) .rte a,
  .banner:not(.slideshow) .inline-richtext a:hover,
  .banner:not(.slideshow) .rte a:hover {
    color: currentColor;
  }
}

@media screen and (min-width: 750px) {
  .banner--desktop-transparent .rte a,
  .banner--desktop-transparent .inline-richtext a:hover,
  .banner--desktop-transparent .rte a:hover {
    color: currentColor;
  }
}


/* Custom Css */

/*font-family*/
@font-face {
  font-family: 'Albert Sans-Bold';
  src: url('https://cdn.shopify.com/s/files/1/0595/8798/5489/files/AlbertSans-Bold.ttf?v=1745234861') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans-Bold';
  src: url('https://cdn.shopify.com/s/files/1/0595/8798/5489/files/DMSans_18pt-Bold.ttf?v=1745235869') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans-Medium';
  src: url('https://cdn.shopify.com/s/files/1/0595/8798/5489/files/DMSans_18pt-Medium.ttf?v=1745236733') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.main-banner-section{
  padding: 38px 101px 37px 100px;
}
.banner__content .banner__box{
  background:transparent;
}
.banner__content{
  background-color: #FFF3EE;
}
.banner__box h2{
  font-family: 'Albert Sans-Bold';
  font-size: 55px;
  line-height: 72px;
  letter-spacing: 0;
  color: #663700;
  font-weight: 700;
  padding: 19px 0px 29px 0px;
  text-transform: capitalize;
}
.banner__box .banner__text p{
  font-family: 'DM Sans-Bold';
  font-weight: 700;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 0;
  color: #4A4A4A;
  margin: 0px;
}
.banner__buttons a.button.button--secondary{
  font-family: 'DM Sans-Bold';
  background-color: #663700;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0;
  border-radius: 10px;
  padding: 18px 32px 18px 32px;
}
.banner__buttons{
  padding-top: 20px;
}
.banner__content .banner__box{
 max-width: 553px;
 width: 100%;
 padding: 0px;
}
.banner__content .banner__box img{
  max-width: 228px;
  width: 100%;
  position: relative;
}
.banner__box{
  text-align: left !important;
}
.banner__text img{
  margin: 0px;
}
.button svg {
  margin-left: 8px;
  vertical-align: middle;
}
.banner__video video {
  max-width: 508px;
  width: 100%;
  max-height: 808px;
  height: 100%;
  border-radius: 277px;
  object-fit: cover;
  display: block;
}
.banner__box-wrapper{
  max-width: 1719px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 53px;
}
.banner__video video{
  max-width: 508px;
  width: 100%;
    height: auto;
    max-height: 808px;
    border-radius: 277px;
    object-fit: cover;  
    display: block;
}
.banner__video{
  max-width: 508px;
  width: 100%;
}






.product-info::before {
  content: '★★★★★';
  font-size: 0.9rem;
  color: #F6A500;
  letter-spacing: 2px;
  margin-bottom: 0.25rem;
  font-size: 20.78px;
}

.product-title {
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  margin: 0;
}

.product-price {
  font-size: 1rem;
  color: #000;
  font-weight: 500;
  margin-top: 0.25rem;
}

.product-compare {
  font-size: 0.9rem;
  color: #aaa;
  text-decoration: line-through;
  margin-left: 0.5rem;
}

.banner__product-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.banner__product-card {
  display: flex;
  align-items: center;
  border: 2px solid #B46100; 
  border-radius: 0 125px 125px 125px; 
  background-color: transparent;
}

.product-info {
  max-width: 175px;
  width: 100%;
  max-height: 135px;
  height: 100%;
}
.product-info img{
  max-width: 246px;
  width: 100%;
}
.banner__products{
  max-width: 522px;
  width: 100%;
  margin-left: 30px;
}
.banner__product-card.banner__product-card--second{
  margin-top: 47px;
}
.product-info .product-title{
  font-family: 'DM Sans-Bold';
  font-weight: 700;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 0;
  color: #4A4A4A;
}
.product-info .product-price{
  font-family: 'DM Sans-Medium';
  font-weight: 500;
  font-size: 17px;
  line-height: 29px;
  letter-spacing: 0;
  color: #663700;
}
.product-info .product-compare{
  font-weight: 500;
  font-size:18px;
  line-height: 29px;
  letter-spacing: 0;
  color: #4A4A4A;
}
.banner__product-card--first img{
  max-width: 145px;
  width: 100%;
}
.banner__product-card--first{
  gap: 71px;
}
.banner__product-card--first .product-info {
  margin: 39px 0px 76px 40px;
}
.banner__product-card--second img{
  max-width: 213px;
  width: 100%;
  margin-left: 45px;
}
.banner__product-card--second{
  gap: 29.8px;
}
.banner__product-card--second .product-info{
  margin: 74px 40px 41px 0px;
}
.banner__product-card.banner__product-card--second .product-info{
  max-width: 195px;
  width: 100%;
}
.svg-first{
  position: absolute;
  z-index: -199;
  top: 108.35px;
  left: 263px;

}
.svg-second{
  position: absolute;
  max-width: 174.33345023582535px;
  top: 121.35px;
  left: 624.11px;
  z-index: 111;
}
@keyframes spinner-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.svg-second {
  animation: spinner-rotate 5s linear infinite;
  display: inline-block;
}
.svg-third{
  position: absolute;
  max-width: 79.96947479248077px;
  top: 755.95px;
  left:566.97px;
  z-index: 111;
}
.svg-fourth{
  max-width: 125.39984893798875px;
  position: absolute;
  top: 365.97px;
  left:1170px;
  z-index: 2;
}


/* Responsive */
@media screen and (max-width: 1440px){
  .banner__product-card--first{
    gap: 0px;
  }
  .banner__product-card--first img{
    max-width: 92px;
    width: 100%;

  }
  .product-info .product-title{
    font-size: 20px;
  }
  .product-info .product-price{
    font-size: 14px;
  }
  .banner__product-card--second{
    gap: 5px;
  }
  .banner__product-card--second img{
    max-width: 150px;
    width: 100%;
    margin-left: 3px;
  }
  .product-info .product-title{
    line-height: 25px;
  }
  .banner__product-card--first .product-info, .banner__product-card--second .product-info{
    margin: 40px 0px 40px 40px;
  }
  .svg-fourth{
    top: 256px;
    left: 900px;
  }
  .svg-second{
    top: 61px;
    left: 522px;
  }
  .svg-first{
    top: 10px;
  }
  .svg-third{
    top: 530px;
    left: 490px;
  }
}
@media screen and (max-width:1366px){
  .banner__box-wrapper{
    gap: 15px;
  }
  .svg-second{
    left: 485px;
  }
  .svg-fourth{
    left: 862px;
  }
}
@media screen and (max-width:1199px){
  .main-banner-section{
    padding: 38px 50px 37px 50px;
  }
  .banner__box h2{
    font-size: 48px;
    line-height: 64px;
    padding: 19px 0px 15px;
  }
  .banner__product-card--first .product-info{
    margin: 25px;
  }
  .banner__product-card--first .product-info, .banner__product-card--second .product-info{
    margin: 10px;
  }
  .banner__product-card--second img{
    max-width: 130px;
    width: 100%;
  }
  .banner__product-card--first img{
    max-width: 75px;
    width: 100%;
  }
  .product-info .product-title{
    font-size: 18px;
    line-height: 20px;
  }
  .product-info .product-compare{
    font-size: 14px;
  }
  .svg-fourth{
    max-width: 75px;
    width: 100%;
    left: 793px;
  }
  .svg-second{
    left: 434px;
  }
  .svg-third{
    top: 490px;
    left: 405px;
  }
}